.toggle {
    position: relative;
    background-color: red;
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.handler_indicator {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    background-color: var(--uni_1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.handler_indicator p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFFFFF;
}

.modal_area {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    width: 100%;
    max-width: 620px;
    background-color: var(--background_1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.modal_header {
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_header p {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text_1);
}

.modal_header button {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;
}

.modal_body {
    max-height: 50vh;
    flex-grow: 1;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.modal_body::-webkit-scrollbar {
    width: 5px;
}

.modal_body::-webkit-scrollbar-thumb {
    background: var(--uni_1);
}

.modal_body>p {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text_4);
}

.item {
    padding: 5px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete_button button {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--uni_1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
}

.delete_button button:hover {
    opacity: 70%;
}

.left_box {
    display: flex;
    text-decoration: none;
}

.img_box {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.left_box img {
    width: 100%;
    height: 100%;
}

.details {
    display: flex;
    flex-direction: column;
}

.details p {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text_1);
    margin-bottom: 5px;
}

.details span:nth-of-type(1) {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text_2);
    flex-grow: 1;
}

.details span:nth-of-type(2) {
    font-size: 1.4rem;
    color: var(--text_2);
    flex-grow: 1;
}

.modal_footer {
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal_footer p {
    font-size: 1.4rem;
    color: var(--text_1);
    font-weight: 500;
}

.modal_footer a {
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
    background-color: var(--uni_1);
    padding: 8px 30px;
    border-radius: 20px;
    transition: .2s ease;
}

.modal_footer a:hover {
    opacity: 70%;
}

@media(max-width: 620px) {
    .modal {
        height: 100vh;
        width: 100vh;
        max-width: 100vh;
    }
    .modal_body {
        max-height: 100%;
    }
}