.component {
    width: 100%;
    margin-top: 50px;
}

.swiper {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 30px;
    cursor: grab;
}

.swiper:active {
    cursor: grabbing;
}

.avatar {
    width: 100%;
    display: flex;
}

.avatar img {
    width: 100%;
    border-radius: 10px;
}

.details {
    display: flex;
    flex-direction: column;
}

.details p:nth-of-type(1) {
    font-size: 1.4rem;
    color: var(--text_1);
    flex-grow: 1;
    margin-bottom: 20px;
}

.details p:nth-of-type(2) {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text_1);
}

.details p:nth-of-type(3) {
    font-size: 1.4rem;
    color: var(--text_2);
}