.section {
    width: 100%;
    padding: 50px 20px;
    background-color: var(--background_2);
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1280px;
}

.header {
    width: 100%;
}

.header h1 {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text_1);
}

.products {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media(max-width: 1080px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 680px) {
    .products {
        grid-template-columns: 1fr;
    }
}